* {
    margin: 0px;
    padding: 0px;
}
h1{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 5;    
    font-size: 70px;
}
h2{
    color: #F53A50;
    font-family:'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
h3{
    color: white;
    font-family:'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
}
nav{
    padding: 4px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.logo{
    width: 130px;
    margin-left: 50px;
}

main{
    position: relative;
    width: 100%;
    height: 92vh;
    z-index: 0;
    background-image: url(pug2-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
main:before{
    content: "";
    width: 100%;
    min-height: 91vh;
    position: absolute;
    top: 7px;
    left: 0;
    background: linear-gradient(45deg,#C94970,#F53A50);
    opacity: 0.8;
    z-index: 2;    
}

.caja1{
    position: relative;
    z-index: 6;
    margin: 60px;
    margin-top: 0px;
    margin-left: 200px;
    top: 100px;
    width: 400px;

}
.explorar{
    margin-top: 20px;
    padding: 15px;
    border: 1px;
    border-radius: 6px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color:#F53A50;
    border-style: none;
    cursor: pointer;
}
.productos{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}
.productos h1{
    display: flex;
    justify-content: center;
    color: #F53A50;
    font-family:'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 10px;
}
.caja2{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.caja2 p{
        width: 250px;
        color: black;
        font-family:'Work Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    
}
.caja2 div{
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

.caja2 img{
    width: 250px;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(245, 58, 80, 0.5);
}

.caja2 button{
    background-color: #F53A50;
    width: 170px;
    margin-top: 20px;
    padding: 15px;
    border: 1px;
    border-radius: 6px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color:white;
    border-style: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(245, 58, 80, 1);
}

.juguete{
    margin-bottom: 16px;
    width: 250px;
    height: 229px;
}